h1{
    background-color: bisque;
}

h2
{ background-color: aquamarine;
}

.a{
    background-color: burlywood;
}

#d{
    background-color: blueviolet;
    color: azure;
    height: 400px;
    width: 600px;
}