


.box1 { padding: 10px;
background-color:#007dff;
height: 200px;
padding-bottom: 70px;
}

.box2{padding: 100px;
 background-color: aqua;
}

.box3{
    padding: 50px;
    background-color: rgba(79, 169, 190, 0.5);
height: 250px;
}

.box4{padding: 10px;
    background-color: hsla(0%, 100%, 100%, 0.3);
    height: 100px;
}

 #box11 {
padding: 50px;
background-color: aquamarine;
text-align: center;
height: 50px;
width: 200px;
border: 1px solid #000000;
margin-left: 490px;
margin-right: 300px;
font-size: 50px;




 }

 #bx{
    background-color:rgb(245, 243, 243);
    color: blue;
    height: 55px;
width: 200px;
border: 1px solid #000000;
margin-left: 200px;
font-size: 35px;
text-align: center;
 }

 #bx1{
    background-color:rgb(245, 243, 243);
    color: blue;
    height: 55px;
width: 200px;
border: 1px solid #000000;
margin-right:200px;
font-size: 35px;
text-align: center;
float: right;
margin-top: -85px;

 }

 .s1 {
text-align: center;
color: rgb(10, 10, 10);
font-size: 70px;
right: 20;
 }